{% extends 'base.html.twig' %}

{% block title %}New Affiche{% endblock %}

{% block body %}
    <h1>Create new Affiche</h1>

    {{ include('backend_affiche/_form.html.twig') }}

    <a href="{{ path('backend_affiche_index') }}">back to list</a>
{% endblock %}
