<form method="post" action="{{ path('backend_vente_delete', {'id': vente.id}) }}" onsubmit="return confirm('Voulez-vous vraiment supprimer cette vente?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ vente.id) }}">
    <button class="btn btn-danger btn-raised mb-0">Supprimer</button>
</form>
