<form method="post" action="{{ path('backend_slide_delete', {'id': slide.id}) }}" onsubmit="return confirm('Voulez-vous supprimer ce slide?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ slide.id) }}">
    <button class="btn btn-danger btn-raised mb-0">Supprimer</button>
</form>
