<form method="post" action="{{ path('backend_pressage_delete', {'id': pressage.id}) }}" onsubmit="return confirm('Voulez-vous vraiment supprimer cet arrivage?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ pressage.id) }}">
    <button class="btn btn-danger btn-raised mb-0">Supprimer</button>
</form>
