{% extends 'base.html.twig' %}

{% block title %}New Pressage{% endblock %}

{% block body %}
    <h1>Create new Pressage</h1>

    {{ include('backend_pressage/_form.html.twig') }}

    <a href="{{ path('backend_pressage_index') }}">back to list</a>
{% endblock %}
